#scroll-steps {
  pointer-events: none;
  font-family: sans-serif;
  position: relative;
  z-index: 10;
  @media (min-width: 600px) {
    padding: 0 30px;
  }
  .scroll-step {
    padding: 15px;
    background: rgb(255, 255, 255, 1);
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
    &.g-ghost-step {
      opacity: 0;
    }
    &.scroll-step-center {
      margin: 0 auto;
    }
    &.scroll-step-left {
    }
    &.scroll-step-right {
      margin-left: auto;
    }
    @media (min-width: 600px) {
      max-width: none;
      width: 400px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .step-content {
      @media (min-width: 600px) {
        /* padding: 15px; */
      }

      pointer-events: none;
      display: block;
      /* padding: 10px; */
      p {
        /* background: rgb(255, 255, 255, 0.1); */
        text-align: left;
        color: black;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}
